models:
{{ with .NativeTypeNames }}
  {{ range . }}
    {{ .Name }}:
      {{ with .Props }}
        {{ range . }}
           {{ .Name }}: {{ .Type }}
        {{ end }}
      {{ end }}
  {{ end }} 
{{ end }}
